/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../../variables.scss';

.SearchPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;

  .output {
    background-color: black;
    color: #0FBA06;
    font-family: courier;
  }
}