---
title: SLR Web
component: ContentPage
---
div
  div
    h3 Once you are logged in
    dl
      dt <a href="/machines">My Machines</a>
      dt <a href="/projects">My Projects</a>
  div
    h3 Fork on GitHub
    p <a href="https://github.com/Maluen/slr-integration-web">github.com/Maluen/slr-integration-web</a>
